.searchInput {
    padding: 5px;
    margin-bottom: 5px;
    width: calc(100% - 10px);
  }
  
  .prizeList {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 150px;
    overflow-y: auto;
  }
  
  .prizeList li {
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .prizeList li:hover {
    background-color: #f0f0f0;
  }
  
  .editButton {
    background-color: #4B0082;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .editButton:hover {
    background-color: #7a5bc0;
  }
  
  .deleteButton {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .deleteButton:hover {
    background-color: darkred;
  }
  